@model List<DatabaseBackupManager.Data.Models.Backup>


@{
    ViewBag.Title = "list of backup jobs";

    var filters = ViewBag.Filters as BackupFilterViewModel;
    var page = ViewBag.Page as int? ?? 1;
    var pageSize = ViewBag.PageSize as int? ?? 10;
    var totalPageCount = ViewBag.TotalPages as int? ?? 1;

    string GetSortStyle(string col)
    {
        return ViewBag.Sort == col ? $"border-{(ViewBag.Order == "desc" ? "top" : "bottom")}: 3px solid blue" : "";
    }
}

<div class="row mb-3">
    <div class="col">
        <h4>@Model.Count / @ViewBag.TotalItems backups found in total</h4>
    </div>
</div>

<form method="get">
    <input type="hidden" name="order" id="sav-order-value" value="@ViewBag.Order"/>
    <input type="hidden" name="sort" id="sav-sort-value" value="@(ViewBag.Sort)"/>
    
    <table class="table table-striped table-hover table-bordered table-responsive">
        <tr>
            <th style="@GetSortStyle("fileName")">
                <button class="btn btn-link w-100 fw-bold" type="submit" name="sort" value="fileName" onmouseup="colClicked()">
                    File Name
                </button>
            </th>
            <th style="@GetSortStyle("date")">
                <button class="btn btn-link w-100 fw-bold" type="submit" name="sort" value="date" onmouseup="colClicked()">
                    Backup date
                </button>
            </th>
            <th style="@GetSortStyle("fileSize")">
                <button class="btn btn-link w-100 fw-bold" type="submit" name="sort" value="fileSize" onmouseup="colClicked()">
                    File size
                </button>
            </th>
            <th style="@GetSortStyle("jobId")">
                <button class="btn btn-link w-100 fw-bold" type="submit" name="sort" value="jobId" onmouseup="colClicked()">
                    Job
                </button>
            </th>
            <th style="@GetSortStyle("serverId")">
                <button class="btn btn-link w-100 fw-bold" type="submit" name="sort" value="serverId" onmouseup="colClicked()">
                    Server
                </button>
            </th>
            <th colspan="2">Actions</th>
        </tr>


        <tr>
            <td><input class="form-control" type="text" name="fileName" value="@(filters?.FileName)"/></td>
            <td><input class="form-control" type="date" name="date" value="@(filters?.Date?.ToString("yyyy-MM-dd"))"/></td>
            <td><input class="form-control" type="number" name="fileSize" value="@(filters?.FileSize)"/></td>
            <td>
                <select name="jobId" class="form-select">
                    @if (ViewBag.Jobs is IEnumerable<SelectListItem> jobs)
                    {
                        <option value=""></option>

                        foreach (var job in jobs)
                        {
                            <option value="@job.Value" selected="@(job.Value == filters?.JobId.ToString())">@job.Text</option>
                        }
                    }
                </select>
            </td>
            <td>
                <select name="serverId" class="form-select">
                    @if (ViewBag.Servers is IEnumerable<SelectListItem> servers)
                    {
                        <option value=""></option>

                        foreach (var server in servers)
                        {
                            <option value="@server.Value" selected="@(server.Value == filters?.ServerId.ToString())">@server.Text</option>
                        }
                    }
                </select>
            </td>
            <td colspan="2">
                <input type="submit" class="d-none" value="submit"/>
                <input type="reset" class="btn btn-warning" value="reset filters"/>
            </td>
        </tr>

        @foreach (var backup in Model)
        {
            <tr>
                <td>@backup.FileName</td>
                <td>@backup.BackupDate.ToString("dd/MM/yyyy HH:mm:ss")</td>
                <td>@backup.GetFileSizeString()</td>
                <td>@(backup.Job?.Name ?? "no information")</td>
                <td>@(backup.Job?.Server?.Name ?? "no information")</td>
                <td colspan="2">
                    <a class="btn btn-primary" asp-action="Download" asp-route-id="@backup.Id">download</a>
                    <a class="btn btn-secondary" asp-action="Restore" asp-route-id="@backup.Id">restore</a>

                    <button class="btn btn-danger" onclick="return confirm('this also delete file, are you sure ?')" asp-action="Delete" asp-route-id="@backup.Id">delete</button>
                </td>
            </tr>
        }

        @if (totalPageCount > 1)
        {
            <tr>
                <td colspan="7">
                    <div class="row">
                        <div class="col-4">
                            @if (page > 1)
                            {
                                <button class="btn btn-secondary" name="page" value="@(page - 1)">previous</button>
                            }
                        </div>

                        <div class="col-4 text-center">
                            @if (Model.Count != pageSize)
                            {
                                <span>@(Model.Count / @pageSize)</span>
                            }
                            page @(page) of @(totalPageCount)
                        </div>

                        <div class="col-4 text-end">
                            @if (page < totalPageCount)
                            {
                                <button class="btn btn-secondary" name="page" value="@(page + 1)">next</button>
                            }
                        </div>
                    </div>
                </td>
            </tr>
        }
    </table>
</form>

<script type="text/javascript">
function colClicked()
{
    const elt = document.getElementById('sav-sort-value');
    
    if (elt)
        elt.remove();
        
    const order = document.getElementById('sav-order-value');
    
    if (order)
        order.value = order.value == 'asc' ? 'desc' : 'asc';
}
</script>