@using DatabaseBackupManager.Data
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col text-center">
        <h3>Welcome to Database Backup Manager.</h3>

        <p>
            This is a simple web application that allows you to manage your database backups including creating backup jobs, scheduling, them and viewing the history, restoring or download backups.
        </p>

        <p>
            Only Administrators can access this application. <br/>
            You can create an account, but you will not be able to access the application until an administrator approves your account by adding you an admin role.
        </p>
    </div>
</div>

@if ((User.Identity?.IsAuthenticated ?? false) && User.IsInRole(Seeds.DataSettings.DefaultAdminRole))
{
    <div class="row">
        <div class="col">
            <h4>Available disks information</h4>
        </div>
    </div>
    
    <div class="row">
        @if (ViewBag.Drives is DriveInfo[] drives)
        {
            foreach (var drive in drives)
            {
                <div class="col-sm-6 col-md-5 col-xl-3 col-lg-4 my-2">
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">@drive.VolumeLabel</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@(drive.VolumeLabel != drive.Name ? $"{drive.Name} ({drive.DriveFormat})" : drive.DriveFormat)</h6>
                            <p class="card-text">
                                
                                <span> Used: @((drive.TotalSize - drive.AvailableFreeSpace).ToSizeString()) / @drive.TotalSize.ToSizeString()</span>
                                <progress class="w-100" value="@(drive.TotalSize - drive.AvailableFreeSpace)" max="@drive.TotalSize"></progress>
                            </p>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="col">
                <h4>Could not get drives</h4>
            </div>
        }
    </div>
}